name: Build and Deploy to Docker Hub

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository to get all files
      - name: Checkout repository
        uses: actions/checkout@v4

      # Log in to Docker Hub using credentials stored as GitHub secrets
      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      # Build the backend Docker image
      - name: Build Backend Docker Image
        run: docker build -t pritamdeshmukh/backend-image:latest ./backend

      # Push the backend Docker image to Docker Hub
      - name: Push Backend Docker Image
        run: docker push pritamdeshmukh/backend-image:latest

      # Build the frontend Docker image
      - name: Build Frontend Docker Image
        run: docker build -t pritamdeshmukh/frontend-image:latest ./frontend

      # Push the frontend Docker image to Docker Hub
      - name: Push Frontend Docker Image
        run: docker push pritamdeshmukh/frontend-image:latest

      # Build the database Docker image (assuming MongoDB Dockerfile is in the 'database' directory)
      - name: Build Database Docker Image
        run: docker build -t pritamdeshmukh/mongo:latest ./database

      # Push the database Docker image to Docker Hub
      - name: Push Database Docker Image
        run: docker push pritamdeshmukh/mongo:latest

      # Optional: Run backend, frontend, and database containers (if you want to deploy them locally)
      - name: Run Backend Container
        run: docker run -d --name backend-container -p 5030:5000 pritamdeshmukh/backend-image:latest

      - name: Run Frontend Container
        run: docker run -d --name frontend-container -p 80:80 pritamdeshmukh/frontend-image:latest

      - name: Run Database Container
        run: docker run -d --name mongodb-container -p 27017:27017 pritamdeshmukh/mongo:latest
